{% extends "header.html" %}
{% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

{% if club %}
<div class="course-container">
  <ul class="course-info">
    <div class="course-name"> 
      {{ club[0][0] }}
      <img src="data:image/jpeg;base64,{{ club[0][3] }}" width="100px">
    </div>

    {% if club[0][0] not in current_user.interested_clubs and club[0][0] not in current_user.enrolled_clubs %}
      <a class="navlink mx-auto" href="{{ url_for('courses.add_club', club_name=club[0][0]) }}">Add</a>
    {% else %}
      <a class="navlink mx-auto !bg-red-400/20 !text-red-400" href="{{ url_for('courses.remove_club', club_name=club[0][0]) }}">Remove</a>
    {% endif %}
    <!--
    <div class="course-title" style="margin-left: 40%;"> 
        <h1><b>{{ club[0][0] }}</b></h1>
        <img src="data:image/jpeg;base64,{{ club[0][3] }}" width="100px">
    </div>
  -->
    <li class="md:px-4"><b>Link: </b> <a class="text-blue-400 duration-150 hover:text-blue-200 underline" href="{{club[0][1]}}">{{ club[0][1] }}</a></li>
    <li class="md:px-4"><b>Description: </b> {{ club[0][2] }}</li>
    
  </ul>
</div>
{% endif %}

{% endblock %}