{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

<div class="results-container">

  {% for result in results %}
  <a 
    href="{{ url_for('courses.course_detail', course_name=result.name) }}"
    class="group course-card"
  >
    <h5 class="course-card-content"> {{ result.name }}
      <span class="text-neutral-600 dark:text-neutral-400 font-normal"> &middot; {{ result.title }} </span>
    </h5>
  </a>
  {% endfor %}

  {% for user in users %}
  <a 
    href="{{ url_for('users.user_detail', username=user.username) }}"
    class="group course-card"
  >
    <h5 class="course-card-content"> {{ user.username }}</h5>
  </a>
  {% endfor %}
</div>

{% endblock %}
