{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

<div class="results-container">
  {% if results|length > 0 %}
  {% for result in results %}
    {% if result.name %}
      <h5 class="course-card-content">{{ result.name }}</h5>
      <a href="{{ url_for('courses.course_detail', course_name=result.name) }}" class="group course-card">
        <!-- <span class="text-neutral-600 dark:text-neutral-400 font-normal"> {{ result.title }} </span> -->
      </a>
    {% endif %}
    {% endfor %}
  {% endif %}

  {%if users|length > 0 %}
    {% for user in users %}
    <a 
      href="{{ url_for('users.user_detail', username=user.username) }}"
      class="group course-card"
    >
      <h5 class="course-card-content"> {{ user.username }}</h5>
    </a>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
