{% extends "header.html" %} {% block content %}

{% if error %}
    <b class="text-red-400" role="alert">
        {{ error }}
    </b>
{% endif %}

<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">

    {# User's Profile Picture #}
    <img class="rounded-2xl" src="data:image/png;base64,{{image}}" alt="image">

    {% if follow %}
    <form method="POST">
        {{ unfollow_form.hidden_tag() }}
        {{ unfollow_form.submit_unfollow(class="navlink mx-auto !bg-red-400/20 !text-red-400") }}
    </form>
    {% else %}
        <form method="POST">
            {{ follow_form.hidden_tag() }}
            {{ follow_form.submit_follow(class="navlink mx-auto") }}
        </form>
    {% endif %}

</div>

<!-- Users Interested and Enrolled courses -->
<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    <h2 class="text-2xl font-bold mb-4">Interested Courses</h2>
    <ul>
        {% for course in interested_courses %}
        <li>
            <a href="{{ url_for('courses.course_detail', course_name=course) }}">{{ course }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Users Interested and Enrolled courses -->
<div class="container mx-auto w-full md:w-2/3 lg:w-1/3">
    <h2 class="text-2xl font-bold mb-4">Enrolled Courses</h2>
    <ul>
        {% for course in enrolled_courses %}
        <li>
            <a href="{{ url_for('courses.course_detail', course_name=course) }}">{{ course }}</a>
        </li>
        {% endfor %}
    </ul>
</div>



{% endblock %}

